---
layout: main
title: Carpool Agency
---

<div id="carpool">

  <!-- **
  *  Header starts here
  * -->
  <header class="header">
      <div class="headerInner center-margin">

          <div class="logoContainer">
              <a href="#welcome" class="logo pageNavLink">Carpool Agency</a>
          </div>

          <div class="menuContainer">
              <nav class="globalNav">
                  <ul>
                      <li><a href="#welcome" class="pageNavLink">Home</a></li>
                      <li><a href="#services" class="pageNavLink">Services</a></li>
                      <li><a href="#about" class="pageNavLink">About</a></li>
                      <li><a href="#work" class="pageNavLink">Work</a></li>
                      <li><a href="#thoughts" class="pageNavLink">Thoughts</a></li>
                      <li><a href="#connect" class="pageNavLink">Connect</a></li>
                  </ul>
              </nav>
          </div>

          <div class="rightContainer">
              <hr class="green"></hr>
              <hr class="lightGreen"></hr>
              <hr class="yellow"></hr>
          </div>

          <div class="dropdownContainer d-none">
              <div class="navigationWrapper bg-darkGreen">
                  <div class="logoWhite"></div>
                  <div class="navigationMenu">
                      <ul>
                          <li><a href="#welcome" class="pageNavLink">Home</a></li>
                          <li><a href="#services" class="pageNavLink">Services</a></li>
                          <li><a href="#about" class="pageNavLink">About</a></li>
                          <li><a href="#work" class="pageNavLink">Work</a></li>
                          <li><a href="#thoughts" class="pageNavLink">Thoughts</a></li>
                          <li><a href="#connect" class="pageNavLink">Connect</a></li>
                      </ul>
                  </div>
              </div>
              <div class="twitterWrapper bg-green">
                  <i class="fa fa-twitter"></i>
                  <div class="twitterContent">
                      &#64;carpooldigital Jul 31
                      <br><br>
                      Carpool will be helping host the internal Microsoft Windows 10 reaction event next week. A lot of solid buzz so it's going to be a good one.
                  </div>
              </div>
              <div class="calendarWrapper bg-lightGreen">
                  <i class="fa fa-calendar"></i>
                  <div class="calendarContent">
                      Responsive.Org Meet up
                      <br><br>
                      Carpool will be helping host a meet up for those interest- ed in discussing the respon- sive.org movement next week. A lot of solid buzz so it's going to be a good one.
                      <br><br>
                      Learn more...
                  </div>
              </div>
              <div class="instagramWrapper bg-yellow">
                  <i class="fa fa-instagram"></i>
                  <div class="instagramContent">
                      <img src="carpool/img/img_1.jpg"></img>
                      <img src="carpool/img/img_2.jpg"></img>
                      <img src="carpool/img/img_3.jpg"></img>
                      <img src="carpool/img/img_4.jpg"></img>
                      <img src="carpool/img/img_5.jpg"></img>
                      <img src="carpool/img/img_6.jpg"></img>
                  </div>
              </div>
              <div class="closeContainer">
                  <i class="fa fa-close"></i>
              </div>
          </div>

      </div>
  </header>
  <!-- **
  *  Header ends here
  * -->

  <!-- **
  *  Panels starts here
  * -->
  <section class="carpool-window">
    <div class="carpool-chapter horizontal">
      <!-- **
      *  Home starts here
      * -->
      <section id="welcome" class="carpool-page">
          <div class="outer-container">
              <div class="inner-container">

                  <video class="bgMedia" autoplay="autoplay" muted="muted" loop="loop" style="width: 100%; height: 100%;">
                      <source src="carpool/videos/landing_video.mp4" type="video/mp4">
                      <source src="carpool/videos/landing_video.webm" type="video/webm">
                      <source src="carpool/videos/landing_video.ogv" type="video/ogg">
                  </video>


                  <div class="video-overlay">
                      <div class="wrapper">
                          <div class="welcomeLogo"></div>
                          <div class="welcomeText">
                              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                          </div>
                          <div class="welcomeMenu">
                              <ul>
                                  <li><a href="#services" class="pageNavLink">Services</a></li>
                                  <li><a href="#about" class="pageNavLink">About</a></li>
                                  <li><a href="#work" class="pageNavLink">Work</a></li>
                                  <li><a href="#thoughts" class="pageNavLink">Thoughts</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="downArrowContainer">
                      <img class="downArrow" src="carpool/img/arrow.svg"></img>
                  </div>
              </div>
          </div>
          <div id="services">
              <div class="row center-margin c-58 pt-5 pb-8 overflow-hidden">
                  <div class="sectionTitle">
                      Voluptatem cusantium doloremque
                  </div>
                  <div class="sectionText mt-3 mb-6">
                      Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                  </div>
                  <div class="animationContainer">
                      <div class="animationVideoContainer float-left c-12 mr-3">
                          <video id="animationVideo1" class="animationVideo" muted="muted" autobuffer preload>
                              <source src="carpool/videos/animation1.webm" type="video/webm">
                              <source src="carpool/videos/animation1.mp4" type="video/mp4">
                              <source src="carpool/videos/animation1.ogv" type="video/ogg">
                          </video>
                      </div>
                      <div class="animationTextContainer float-left c-43">
                          <div class="animationTextHeader">
                              Experience Design
                          </div>
                          <div class="animationTextContent mb-5">
                              Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                          </div>
                          <div class="animationTextHeader">
                              Engage & Build
                          </div>
                          <div class="animationTextContent mb-5">
                              Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                          </div>
                          <div class="animationTextHeader">
                              Support
                          </div>
                          <div class="animationTextContent">
                              Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                          </div>
                      </div>
                  </div>
              </div>
          </div>  
      </section>


      <!-- **
      *  Services starts here
      * -->
      <!-- <section id="services" class="carpool-page">
          <div class="row center-margin c-58 pt-5 pb-8">
              <div class="sectionTitle">
                  Voluptatem cusantium doloremque
              </div>
              <div class="sectionText mt-3 mb-6">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </div>
              <div class="animationContainer">
                  <div class="animationVideoContainer float-left c-12 mr-3">
                      <video id="animationVideo1" class="animationVideo" muted="muted" autobuffer preload>
                          <source src="carpool/videos/animation1.webm" type="video/webm">
                          <source src="carpool/videos/animation1.mp4" type="video/mp4">
                          <source src="carpool/videos/animation1.ogv" type="video/ogg">
                      </video>
                  </div>
                  <div class="animationTextContainer float-left c-43">
                      <div class="animationTextHeader">
                          Experience Design
                      </div>
                      <div class="animationTextContent mb-5">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                      <div class="animationTextHeader">
                          Engage & Build
                      </div>
                      <div class="animationTextContent mb-5">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                      <div class="animationTextHeader">
                          Support
                      </div>
                      <div class="animationTextContent">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                  </div>
              </div>
          </div>
      </section> -->

      <!-- **
      *  About starts here
      * -->
      <section id="about" class="carpool-page">
          <div class="row center-margin c-58 pt-5 pb-8">
              <div class="sectionTitle">
                  A bit about Carpool
              </div>
              <div class="sectionText mt-3 mb-6">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                  <br><br>
                  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
              </div>
              <div class="animationContainer">
                  <div class="animationVideoContainer float-left c-12 mr-3">
                      <video id="animationVideo2" class="animationVideo" muted="muted" autobuffer preload>
                          <source src="carpool/videos/animation1.webm" type="video/webm">
                          <source src="carpool/videos/animation1.mp4" type="video/mp4">
                          <source src="carpool/videos/animation1.ogv" type="video/ogg">
                      </video>
                  </div>
                  <div class="animationTextContainer float-left c-43">
                      <div class="animationTextHeader">
                          People
                      </div>
                      <div class="animationTextContent mb-5">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </div>
                      <div class="animationTextHeader">
                          Work at Carpool
                      </div>
                      <div class="animationTextContent mb-5">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </div>
                      <div class="animationTextHeader">
                          Events
                      </div>
                      <div class="animationTextContent">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- **
      *  Work starts here
      * -->
      <section id="work" class="carpool-page">
          <div class="row center-margin c-58 pt-5 pb-8">
              <div class="sectionTitle">
                  Examples of Our Work
              </div>
              <div class="sectionText mt-3 mb-6">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </div>
              <div class="sectionDetailContainer">
                <div class="sectionDetail">
                  <img class="sectionDetailImage float-left mr-3" src="/carpool/img/work1.jpg"></img>
                  <div class="animationTextContainer float-left c-40">
                      <div class="animationTextHeader">
                          Experience Design
                      </div>
                      <div class="animationTextContent mb-8">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                  </div>
                </div>
                <div class="sectionDetail">
                  <img class="sectionDetailImage float-left mr-3" src="/carpool/img/work2.jpg"></img>
                  <div class="animationTextContainer float-left c-40">
                      <div class="animationTextHeader">
                          Workshops
                      </div>
                      <div class="animationTextContent mb-8">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                  </div>
                </div>
                <div class="sectionDetail">
                  <img class="sectionDetailImage float-left mr-3" src="/carpool/img/work1.jpg"></img>
                  <div class="animationTextContainer float-left c-40">
                      <div class="animationTextHeader">
                          Infrastructure
                      </div>
                      <div class="animationTextContent mb-8">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                  </div>
                </div>
                <div class="sectionDetail">
                  <img class="sectionDetailImage float-left mr-3" src="/carpool/img/work2.jpg"></img>
                  <div class="animationTextContainer float-left c-40">
                      <div class="animationTextHeader">
                          Team Sites
                      </div>
                      <div class="animationTextContent mb-6">
                          Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam sit aspernatur aut odit aut fugit. unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </section>

      <!-- **
      *  Thoughts starts here
      * -->
      <section id="thoughts" class="carpool-page">
          <div class="row center-margin c-58 pt-5 pb-8">
              <div class="sectionTitle">
                  Some of our thinking
              </div>
              <div class="sectionText mt-3 mb-6">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </div>
              <ul class="postList">
                {% for post in site.posts %}
                 <li class="postItem">
                    <img class="postDefaultImage float-left mr-3" src="{{ post.defaultImage }}"></img>

                    <table class="postSummary mb-6">
                       <tr>
                          <td class="postTitle"><a href="{{ post.url }}" class="green">{{ post.title }}</td>
                       </tr>
                       <tr>
                          <td class="postAuthor">By {{ post.author }}</td>
                       </tr>
                       <tr>
                          <td class="postBody">{{ post.excerpt }}</td>
                       </tr>
                       <tr>
                          <td><a href="{{ post.url }}" class="readMore green">Read more</a></td>
                       </tr>
                    </table>
                 </li>
                {% endfor %}
              </ul>
          </div>
      </section>

      <!-- **
      *  Connect starts here
      * -->
      <section id="connect" class="carpool-page">
          <div class="row center-margin c-58 pt-5 pb-8">
              <div class="sectionTitle">
                  This is who works at Carpool
              </div>
              <div class="sectionText mt-3 mb-4">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </div>
              <div class="apply text-center mb-4">
                <a href="#" class="green">
                  Click here if you want to work at Carpool
                </a>
              </div>
              <div>
              <ul class="memberList">
              {% for group in site.people %}
                {% for member in group.members %}
                <li class="member float-left">
                  <table>
                    <tbody>
                      <tr>
                        <td><div class="member-image" style="background-image: url('/carpool/img/profile/{{ member.picture }}')"></div><div class="imagePlaceholder"></div></td>
                      </tr>
                      <tr>
                        <td><div class="member-name green text-center">{{ member.name }}</div></td>
                      </tr>
                      <tr>
                        <td><div class="member-role gray text-center">{{ member.role }}</div></td>
                      </tr>
                      <tr class="contactLinks">
                        <td class="text-center">
                        {% if member.linkedin %}
                          <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        {% endif %}
                        {% if member.facebook %}
                          <a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        {% endif %}
                        {% if member.twitter %}
                          <a href="{{ member.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
                        {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                {% endfor %}
              {% endfor %}
              </ul>
              </div>
          </div>
      </section>
    </div>
  </section>
  <!-- **
  *  Panels ends here
  * -->

  <!-- **
  *  Footer starts here
  * -->
  <footer class="footer">
      <nav class="footerNav">

          <!-- Footer Nav -->
          <div class="footerTopContainer">
              <div class="textTop r-7">
                  <div class="tableText">It only makes sense for us to be social.</div>
              </div>
              <div class="textBottom r-7">
                  <div class="tableText">Stalk us on Instagram. We don't mind.</div>
              </div>
              <table>
                  <tr>
                      <td class="c-6 r-7 bg-darkGreen"></td>
                      <td class="c-8 r-7 bg-green"></td>
                      <td class="c-8 r-7 bg-lightGreen"></td>
                      <td class="c-8 r-7 bg-green"></td>
                      <td class="c-8 r-7 bg-darkGreen"></td>
                      <td class="c-8 r-7 bg-green"></td>
                      <td class="c-8 r-7 bg-darkGreen"></td>
                      <td class="c-8 r-7 bg-lightGreen"></td>
                      <td class="c-8 r-7 bg-green"></td>
                      <td class="c-8 r-7 bg-lightGreen"></td>
                      <td class="c-8 r-7 bg-darkGreen"></td>
                      <td class="c-6 r-7 bg-lightGreen"></td>
                  </tr>
                  <tr>
                      <td class="c-6 r-7 bg-lightGreen"></td>
                      <td class="c-8 r-7 bg-darkGreen"></td>
                      <td class="c-8 r-7 bg-green iconLink"><a href="https://twitter.com/@carpooldigital" title="Carpool Agency Twitter" target="_blank"><i class="fa fa-twitter"></i></a></td>
                      <td class="c-8 r-7 bg-darkGreen iconLink"><a href="https://www.linkedin.com/company/carpool-agency" title="Carpool Agency LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a></td>
                      <td class="c-8 r-7 bg-green iconLink"><a href="" title="Send Carpool a Message" class="footerEmail"><i class="fa fa-envelope-o"></i></a></td>
                      <td class="c-8 r-7 bg-lightGreen iconLink"><a href="" title=""><i class="fa fa-instagram"></i></a></td>
                      <td class="c-8 r-7 bg-green iconLink"><a href="https://www.facebook.com/carpooldigital" title="Carpool Agency Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></td>
                      <td class="c-8 r-7 bg-darkGreen iconLink"><a href="" title=""><i class="fa fa-map-marker"></i></a></td>
                      <td class="c-8 r-7 bg-lightGreen iconLink"><a href="" title=""><i class="fa fa-google-plus"></i></a></td>
                      <td class="c-8 r-7 bg-darkGreen iconLink"><a href="" title="" class="footerLocation"><i class="fa fa-map-pin"></i></a></td>
                      <td class="c-8 r-7 bg-green"></td>
                      <td class="c-6 r-7 bg-darkGreen"></td>
                  </tr>
                  <tr>
                      <td class="c-6 r-7 bg-green"></td>
                      <td class="c-8 r-7 bg-lightGreen"></td>
                      <td class="c-8 r-7 bg-darkGreen"></td>
                      <td class="c-8 r-7 bg-lightGreen"></td>
                      <td class="c-8 r-7 bg-darkGreen location1"><span>Seattle<span></td>
                      <td class="c-8 r-7 bg-green location2"><span>Sydney<span></td>
                      <td class="c-8 r-7 bg-lightGreen location3"><span>London<span></td>
                      <td class="c-8 r-7 bg-green location4"><span>Japan<span></td>
                      <td class="c-8 r-7 bg-darkGreen"></td>
                      <td class="c-8 r-7 bg-green"></td>
                      <td class="c-8 r-7 bg-lightGreen"></td>
                      <td class="c-6 r-7 bg-green"></td>
                  </tr>
              </table>
          </div>

          <div class="locationDropdownContainer">
              <div class="locationAddressBackground">
                  <div class="locationAddressContainer">
                      <div class="locationAddress">
                          10635 NE 8th Street, Suite 201, Bellevue, WA 98074
                      </div>
                      <div class="locationContact">
                          <a href="mailto:darren.litchfield@carpoolagency.com" title="darren.litchfield@carpoolagency.com">Darren Litchfield</a>
                      </div>
                  </div>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43031.24140911595!2d-122.23294868713694!3d47.6173329790832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906c8e4cc6971b%3A0xf71f488ebe446894!2s10635+NE+8th+St%2C+Bellevue%2C+WA+98004!5e0!3m2!1sen!2sus!4v1445375141059" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <!-- Message Form -->
          <div class="messageFormBackground">
              <div class="c-60 center-margin row messageFormContainer pt-3 pb-2">
                  <div class="messageText">Send us a note and we’ll send one back.</div>
                  <input type="text" placeholder="Name" class="nameInput">
                  <input type="text" placeholder="Email address" class="emailInput">
                  <div class="messageText">What you want to talk about?</div>
                  <select class="topicInput">
                      <option value="" disabled selected>Choose one...</option>
                      <option value="communication">Communication</option>
                      <option value="social">Social</option>
                      <option value="solution">Solution</option>
                  </select>
                  <div class="messageText">Blank space for your words</div>
                  <textarea placeholder="Once upon a time..." class="contentInput"></textarea>
                  <div class="messageText sendButton">Send</div>
              </div>
          </div>

          <!-- Copyright Footer -->
          <div class="footerBottomContainer">
              <div class="footerLogoContainer">
                  <div class="footerLogo"></div>
              </div>
              <div class="footerCopyRightContainer">&copy; Carpool Agency Inc. 2015. All Rights Reserved.</div>
          </div>
  
      </nav>
  </footer>
  <!-- **
  *  Footer ends here
  * -->


  <!-- Script Tags -->
  <script type="text/javascript" src="carpool/js/main.js"></script>
  <script type="text/javascript" src="carpool/js/scale.fix.js"></script>

</div>
