---
layout: default
title: This is who works at Carpool
---

<div id="carpoolMembers">

<h1>This is who works at Carpool</h1>
<div class="body">
	<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
</div>
<div class="apply text-center">
	<a href="#" class="f-carpool-green">
		Click here if you want to work at Carpool
	</a>
</div>
<div class="memberList">
{% for group in site.people %}
	{% for member in group.members %}
	<div class="member">
		<table>
			<tbody>
				<tr>
					<td><div class="member-image" style="background-image: url('/images/profile/{{ member.picture }}')"></div><div class="imagePlaceholder"></div></td>
				</tr>
				<tr>
					<td><div class="member-name f-carpool-green text-center">{{ member.name }}</div></td>
				</tr>
				<tr>
					<td><div class="member-role f-light-gray text-center">{{ member.role }}</div></td>
				</tr>
				<tr class="contactLinks">
					<td class="text-center">
					{% if member.linkedin %}
						<a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
					{% endif %}
					{% if member.facebook %}
						<a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
					{% endif %}
					{% if member.twitter %}
						<a href="{{ member.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
					{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endfor %}
{% endfor %}
</div>
</div>