<!-- **
*  Footer starts here
* -->
<footer class="footer">
        <div class="footerTopContainer bg-lightGreen">
            <div class="row c-58 center-margin  overflow-hidden">
                <div class="r-7 first iconLink float-left">
                    <a href="https://twitter.com/@carpooldigital" title="Carpool Agency Twitter" target="_blank">
                        <img class="r-3 float-left" src='/carpool/img/svg_icons/twitter.svg'>
                    </a>
                </div>
                <div class="r-7 iconLink float-left">
                    <a href="https://www.linkedin.com/company/carpool-agency" title="Carpool Agency LinkedIn" target="_blank">
                        <img class="r-3 centered" src='/carpool/img/svg_icons/linkedin.svg'>
                    </a>
                </div>
                <div class="r-7 iconLink float-left mailIcon">
                    <a href="/" title="Send Carpool a Message" class="footerEmail">
                        <img class="r-2 centered" src='/carpool/img/svg_icons/envelope.svg'>
                    </a>
                </div>
                <div class="r-7 iconLink float-left">
                    <a href="https://instagram.com/carpoolagency" title="Carpool Agency Instagram" target="_blank">
                        <img class="r-3 centered" src='/carpool/img/svg_icons/instagram.svg'>
                    </a>
                </div>
                <div class="r-7 iconLink float-left">
                    <a href="https://www.facebook.com/carpooldigital" title="Carpool Agency Facebook" target="_blank">
                        <img class="r-3 centered" src='/carpool/img/svg_icons/facebook.svg'>
                    </a>
                </div>
                <div class="r-7 last iconLink float-left">
                    <a href="/" title="Carpool maps" class="footerLocation">
                        <img class="r-3 float-right" src='/carpool/img/svg_icons/maps.svg'>
                    </a>
                </div>
            </div>

            <!-- Email form -->
            <div class="contactFormDropdownContainer d-none">
                <div class="row c-58 center-margin overflow-hidden">
                    <div id="contactFormNotification" class="d-none">
                        <span class="notificationMessage"></span>
                    </div>
                    <form id="contactForm">
                        <div class="contactCaption">Send us a note and we'll send one back.</div>
                        <input type="hidden" name="_subject" value="Website contact"/>
                        <input class="gotcha" type="hidden" name="_gotcha" value="Prevent Spam"/>
                        <input class="contactName" type="text" name="name" placeholder="Name" required/>
                        <input class="contactEmail" type="email" name="_replyto" placeholder="Email address" required/>
                        <div class="contactMessageCaption">Blank space for your words</div>
                        <textarea class="contactMessage" name="message" placeholder="Once upon a time..." required></textarea>
                        <input class="submitButton" type="submit" value="Send">
                    </form>
                </div>
            </div>

            <!-- Location and Google Map -->
            <div class="locationDropdownContainer">
                <div class="locationAddressBackground">
                    <div class="locationAddressContainer">
                        <div class="locationAddress">
                            10635 NE 8th Street, Suite 201, Bellevue, WA 98074
                        </div>
                        <div class="locationContact">
                            <a href="mailto:darren.litchfield@carpoolagency.com" title="darren.litchfield@carpoolagency.com">Darren Litchfield</a>
                        </div>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43031.24140911595!2d-122.23294868713694!3d47.6173329790832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906c8e4cc6971b%3A0xf71f488ebe446894!2s10635+NE+8th+St%2C+Bellevue%2C+WA+98004!5e0!3m2!1sen!2sus!4v1445375141059" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- Copyright Footer -->
        <div class="footerBottomContainer">
            <div class="footerLogoContainer">
                <div class="footerLogo"></div>
            </div>
            <div class="footerCopyRightContainer">&copy; Carpool Agency Inc. 2016. All Rights Reserved.</div>
        </div>
</footer>
<!-- **
*  Footer ends here
* -->
