<!-- **
*  Header starts here
* -->
<header class="header">
    <div class="headerInner center-margin">
        <div class="navContainer">
            <div class="transparentBg"></div>
            <div class="c-58 center-margin row">
                <div class="logoContainer float-left">
                    <a href="/" class="logo pageNavLink">Carpool Agency</a>
                </div>
                <div class="menuContainer float-left">
                    <nav class="globalNav">
                        <ul class="carpool-nav">
                            <li><a href="/" class="pageNavLink {% if page.title == 'Home' %}active{% endif %}">Home</a></li>
                            <li><a href="/#services" class="pageNavLink">Services</a></li>
                            <li><a href="/about/" class="pageNavLink {% if page.title == 'About' %}active{% endif %}">About</a></li>
                            <li><a href="/work/" class="pageNavLink {% if page.title == 'Work' %}active{% endif %}">Work</a></li>
                            <li><a href="/thoughts/" class="pageNavLink {% if page.title == 'Thoughts' %}active{% endif %}">Thoughts</a></li>
                            <li><a href="/connect/" class="pageNavLink {% if page.title == 'Connect' %}active{% endif %}">Connect</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="rightContainer">
                <div class="transparentBg"></div>
                <hr class="green">
                <hr class="lightGreen">
                <hr class="yellow">
            </div>
        </div>
        <div class="dropdownContainer d-none">
            <div class="navigationWrapper bg-darkGreen">
                <div class="logoWhite"></div>
                <div class="navigationMenu">
                    <ul class="carpool-nav">
                        <li><a href="/" class="pageNavLink {% if page.title == 'Home' %}active{% endif %}">Home</a></li>
                        <li><a href="/#services" class="pageNavLink">Services</a></li>
                        <li><a href="/about/" class="pageNavLink {% if page.title == 'About' %}active{% endif %}">About</a></li>
                        <li><a href="/work/" class="pageNavLink {% if page.title == 'Work' %}active{% endif %}">Work</a></li>
                        <li><a href="/thoughts/" class="pageNavLink {% if page.title == 'Thoughts' %}active{% endif %}">Thoughts</a></li>
                        <li><a href="/connect/" class="pageNavLink {% if page.title == 'Connect' %}active{% endif %}">Connect</a></li>
                    </ul>
                </div>
            </div>
            <div class="twitterWrapper bg-green">
                <img class="svgIcon" src='/carpool/img/svg_icons/twitter.svg'>
                <div class="twitterContent">
                    <a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/carpooldigital" data-widget-id="664169459557380096" data-chrome="nofooter noheader transparent">Tweets by @carpooldigital</a>
                    <div class="tweetTopHeader">
                        <a class="userLink" href="https://twitter.com/@carpooldigital" target="_blank">@carpooldigital</a>
                        <a class="dateLink" target="_blank"></a>
                    </div>
                    <div class="tweetContent"></div>
                </div>
            </div>
            <div class="calendarWrapper bg-lightGreen">
                <img class="svgIcon" src='/carpool/img/svg_icons/calendar.svg'>
                <div class="calendarContent">
                    <div class="calendarTopHeader">
                        Responsive.Org Meet up
                    </div>
                    <div class="calendarContentBottom">
                        Carpool will be helping host a meet up for those interest- ed in discussing the respon- sive.org movement next week. A lot of solid buzz so it's going to be a good one.
                        <br>
                        <br> Learn more...
                    </div>
                </div>
            </div>
            <div class="instagramWrapper bg-yellow">
                <img class="svgIcon" src='/carpool/img/svg_icons/instagram.svg'>
                <div class="instagramContent">
                    <img src="/carpool/img/img_1.jpg">
                    <img src="/carpool/img/img_2.jpg">
                    <img src="/carpool/img/img_3.jpg">
                    <img src="/carpool/img/img_4.jpg">
                    <img src="/carpool/img/img_5.jpg">
                    <img src="/carpool/img/img_6.jpg">
                </div>
            </div>
            <div class="closeContainer">
                <img class="c-2 r-2" src='/carpool/img/svg_icons/close.svg'>
            </div>
        </div>
        <div class="dropDownCover">
        </div>
    </div>
</header>
<!-- **
*  Header ends here
* -->

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";js.setAttribute('onload', "twttr.events.bind('rendered',function(e) {$('.header .twitterContent .dateLink').attr('href',$('#twitter-widget-0').contents().find('.stream .h-feed li time').parent().attr('href'));var tweetDateOriginal = $('#twitter-widget-0').contents().find('.stream .h-feed li time').html().split(' ');var tweetDateNew = tweetDateOriginal[1] + ' ' + tweetDateOriginal[0];$('.header .twitterContent .dateLink').html(tweetDateNew);$('.header .twitterContent .tweetContent').html($('#twitter-widget-0').contents().find('.stream .h-feed li .e-entry-title').html());$('.header .twitterContent .tweetContent a').attr('target','_blank');$('#twitter-widget-0').remove();});");fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
