<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Carpool Agency{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="icon" type="image/png" href="/carpool/img/favicon.png">
    <meta property="og:url"                content="http://carpoolagency.com{{page.url}}" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Carpool Agency{% if page.title %} - {{ page.title }}{% endif %}" />
    <meta property="og:description"        content="Carpool helps you do work better. We develop communication environments that foster better business." />
	<meta property="og:image"              content="http://carpoolagency.com{% if page.defaultImage %}{{site.url}}{{ page.defaultImage }}{% else %}{{site.url}}/carpool/img/background_images/carpool_header_resize.jpg{% endif %}" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
