<!-- **
*  Header starts here
* -->
<header class="header">
    <div class="headerInner center-margin">
        <div class="navContainer">
            <div class="transparentBg"></div>
            <div class="logoContainer">
                <a href="/" class="logo pageNavLink">Carpool Agency</a>
            </div>
            <div class="menuContainer">
                <nav class="globalNav">
                    <ul class="carpool-nav">
                        <li><a href="/" class="pageNavLink {% if page.title == 'Home' %}active{% endif %}">Home</a></li>
                        <li><a href="/#services" class="pageNavLink">Services</a></li>
                        <li><a href="/about/" class="pageNavLink {% if page.title == 'About' %}active{% endif %}">About</a></li>
                        <li><a href="/work/" class="pageNavLink {% if page.title == 'Work' %}active{% endif %}">Work</a></li>
                        <li><a href="/thoughts/" class="pageNavLink {% if page.title == 'Thoughts' %}active{% endif %}">Thoughts</a></li>
                        <li><a href="/connect/" class="pageNavLink {% if page.title == 'Connect' %}active{% endif %}">Connect</a></li>
                    </ul>
                </nav>
            </div>
            <div class="rightContainer">
                <div class="transparentBg"></div>
                <hr class="green"></hr>
                <hr class="lightGreen"></hr>
                <hr class="yellow"></hr>
            </div>
        </div>
        <div class="dropdownContainer d-none">
            <div class="navigationWrapper bg-darkGreen">
                <div class="logoWhite"></div>
                <div class="navigationMenu">
                    <ul class="carpool-nav">
                        <li><a href="/" class="pageNavLinkpageNavLink {% if page.title == 'Home' %}active{% endif %}">Home</a></li>
                        <li><a href="/#services" class="pageNavLinkpageNavLink">Services</a></li>
                        <li><a href="/about/" class="pageNavLink {% if page.title == 'About' %}active{% endif %}">About</a></li>
                        <li><a href="/work/" class="pageNavLink {% if page.title == 'Work' %}active{% endif %}">Work</a></li>
                        <li><a href="/thoughts/" class="pageNavLink {% if page.title == 'Thoughts' %}active{% endif %}">Thoughts</a></li>
                        <li><a href="/connect/" class="pageNavLink {% if page.title == 'Connect' %}active{% endif %}">Connect</a></li>
                    </ul>
                </div>
            </div>
            <div class="twitterWrapper bg-green">
                <img class="svgIcon" src='/carpool/img/svg_icons/twitter.svg'></img>
                <div class="twitterContent">
                    &#64;carpooldigital Jul 31
                    <br>
                    <br>
                    Carpool will be helping host the internal Microsoft Windows 10 reaction event next week. A lot of solid buzz so it's going to be a good one.
                </div>
            </div>
            <div class="calendarWrapper bg-lightGreen">
                <img class="svgIcon" src='/carpool/img/svg_icons/calendar.svg'></img>
                <div class="calendarContent">
                    Responsive.Org Meet up
                    <br>
                    <br> Carpool will be helping host a meet up for those interest- ed in discussing the respon- sive.org movement next week. A lot of solid buzz so it's going to be a good one.
                    <br>
                    <br> Learn more...
                </div>
            </div>
            <div class="instagramWrapper bg-yellow">
                <img class="svgIcon" src='/carpool/img/svg_icons/instagram.svg'></img>
                <div class="instagramContent">
                    <img src="/carpool/img/img_1.jpg"></img>
                    <img src="/carpool/img/img_2.jpg"></img>
                    <img src="/carpool/img/img_3.jpg"></img>
                    <img src="/carpool/img/img_4.jpg"></img>
                    <img src="/carpool/img/img_5.jpg"></img>
                    <img src="/carpool/img/img_6.jpg"></img>
                </div>
            </div>
            <div class="closeContainer">
                <img class="c-2" src='/carpool/img/svg_icons/close.svg'></img>
            </div>
        </div>
        <div class="dropDownCover">
        </div>
    </div>
</header>
<!-- **
*  Header ends here
* -->
