---
layout: main
title: Thoughts
---

<!-- **
*  Thoughts starts here
* -->
<section id="thoughts" class="carpool-page">
  <div class="thoughtsTopPicture">
      <div class="row center-margin c-52 pt-12">
        <h1>Gain Insights Into Internal Communications</h1>
      </div>
  </div>
  <div class="row bg-lightGreen">
      <div class="welcomeMessage center-margin c-51">
          We are always thinking about how to make work better. From how we conduct informal conversations to how we publish formal internal content, Carpool is constantly pondering and publishing new strategies and principles to help guide your internal communications.
      </div>
  </div>

    <div class="row center-margin c-60 pt-3 pb-3 overflow-hidden">
        <div class="sectionTitle mb-3">
            Some of Our Thinking
        </div>
        <div class="postGrid">
          {% for post in site.posts limit:10 %}
            {% if post.postType != "services" %}
            <div class="postItem float-left c-18 mr-1 mb-1">
              <a href="{{ post.url }}">
                <img src="{{ post.defaultImage }}" style="width:100%;"/>
                <div class="postTitle"><b>{{ post.title}}</b></div>
              </a>

                <div class="postAuthor"><b>By {{ post.author }}</b></div>
                <div class="postExcerpt">{{ post.excerpt }}</div>












<!--                     <table class="postSummary float-left c-40">
                        <tr>
                            <td class="postTitle"><a href="{{ post.url }}" class="green">{{ post.title }}</td>
                        </tr>
                        <tr>
                            <td class="postAuthor">By {{ post.author }}</td>
                        </tr>
                        <tr>
                            <td class="postBody">{{ post.excerpt }}</td>
                        </tr>
                        <tr>
                            <td><a href="{{ post.url }}" class="readMore green">Read more</a></td>
                        </tr>
                      </table>
 -->            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</section>
<!-- **
*  Thoughts ends here
* -->
