/* Carpool Members Settings */
#carpoolMembers .body {
  margin: 0 0 4em 0;
}
#carpoolMembers .apply {
  margin: 0 0 4em 0;
}
#carpoolMembers .apply a{
 font-size: 2em;
 width: 100%;
}
#carpoolMembers .memberList {
 left: -2em;
 position: relative;
 width: 60em;
}
#carpoolMembers .member {
  width: 13em;
  height: 21em;
  float: left;
  margin: 0 0 4em 2em;

}

#carpoolMembers .member-image, 
#carpoolMembers .imagePlaceholder {
  width: 13em;
  height: 13em;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13em;
}
#carpoolMembers .member-image {
  float: left;
  z-index: 2;
}
#carpoolMembers .imagePlaceholder {
  background-image: url('/images/profile/Placeholder.png');
}
#carpoolMembers .member-name {
  font-size: 30pt;
}
#carpoolMembers .member-role {
  font-size: 16pt;
}
