/* PostArticle Page */
#postArticle .postWrapper {
    padding: 4em;
    background-color: rgba(255,255,255,0.95);
    top: 14em;
    position: relative;
}
#postArticle .postTitle {
  font-size: 4em;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -1px;
}
#postArticle .defaultImage {
    position: absolute;
    width: 100%;
    max-height: 40em;
    height: 40em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}
#postArticle .postAuthor {
  margin: 3em 0em 3em 0em;
}
#postArticle .authorTable td.picture,
#postArticle .authorTable .image,
#postArticle .authorTable .imagePlaceholder {
  width: 6em;
  height: 6em;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3em;
}
#postArticle .authorTable .imagePlaceholder {
  background-image: url('/images/profile/Placeholder.png');
}
#postArticle .authorTable .image {
  z-index: 2;
  position: absolute;
}
#postArticle .authorTable td {
  border: none;
}

#postArticle .authorTable .name {
  font-size: 1.3em;
  margin-left: 1em;
}