/* Thoughts Page */
#thoughts ul.postList {
  margin: 0;
  padding: 6em 0 0 0;
}
#thoughts .postItem {
  height: 25em;
}
#thoughts .postTitle {
  font-size: 2em;
}
#thoughts .postAuthor {
  padding: 0.5em 0;
  font-size: 1.1em;
  color: #999999;
}
#thoughts .postDefaultImage {
  width: 15em;
  height: 15em;
  border-radius: 15em;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: left;
}
#thoughts .postSummary {
  float: left;
  margin-left: 18em;
  width: 40em;
}
#thoughts .postSummary td {
  border: none;
}
#thoughts .postSummary .readMore {
  font-size: 1.1em;
}
