<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

	{% include head.html %}

	<div id="carpool">

		{% include header.html %}

			{{ content }}

		{% include footer.html %}

		<!-- Script Tags -->
		<link href="/carpool/css/lightbox.min.css" type="text/css" rel="stylesheet" />
		<link href="/carpool/featherlight/featherlight.min.css" type="text/css" rel="stylesheet" />
    	<link href="/carpool/css/generated.css" type="text/css" rel="stylesheet" />
        <link href="/carpool/css/main.css" type="text/css" rel="stylesheet" />
    	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    	<script type="text/javascript" src="/carpool/js/jquery-2.1.4.min.js"></script>
    	<script type="text/javascript" src="/carpool/js/readmore.min.js"></script>
		<script type="text/javascript" src="/carpool/js/main.js"></script>
		<!-- Used for the lightbox effect on the approach page -->		
		<script type="text/javascript" src="/carpool/featherlight/featherlight.min.js"></script>
		<!-- Used for the tesellated tils on thoughts page -->
		<script type="text/javascript" src="/carpool/js/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="/carpool/js/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript">

		if($('.postGrid').size() > 0) {
		 	var $grid = $('.postGrid').imagesLoaded( function() {
			  	var msnry = new Masonry( '.postGrid', { itemSelector: '.postItem' });
				//to fade in post grid on thoughts page
			  	$('.postItem').css('opacity', 1);
			});
		 }
    	
		if($('blockquote').size() > 0) {
			$('blockquote').prepend('<div class="openQuote">,,</div>');
			$('blockquote').append('<div class="closeQuote">,,</div>');
		}
		
    	</script>

	</div>
</html>
